
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6d2d2;
}

header {
    background-color: #070707;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f8b400;
}


.about {
    text-align: center;
    padding: 50px 20px;
    background-color: #e9c9c9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 28px;
    margin-top: 30px;
    color: #222;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.about ul li {
    font-size: 18px;
    padding: 10px 0;
    color: #444;
    position: relative;
    padding-left: 25px;
}

.about ul li::before {
    content: '\2713';
    color: #f8b400;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 5px;
}
